* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin: 0 auto;
}

button {
  padding: 0.7em 1.45em;
  border-radius: 40px;
  border: none;
  background-color: #8a8a8a;
  color: white;
  font-size: 1em;
  cursor: pointer;
  margin-top: 1em;
  margin-bottom: 1em;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-size: 1.2em;
  font-weight: bold;
}

h1 {
  font-size: 2em;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  margin-bottom: 0.2em;
}

.card-container {
  display: flex;
  width: 80%;
  height: 70%;
  border: 1px solid black;
}

fieldset {
  border: none;
  display: flex;
  flex-direction: column;
  margin-bottom: 0.5em;
}

fieldset h1 {
  font-size: 2em;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}

input {
  font-size: 1.2em;
  margin-bottom: 1em;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  padding: 0.5em;
  border: 1px solid #ccc;
  border-radius: 5px;
}

input[type="checkbox"] {
  margin-right: 0.5em;
  border: 1px solid #ccc;
  width: 1.3em;
  height: 1.3em;
}

input[type="checkbox"]:checked {
  background-color: #630606;
}

p {
  font-size: 1.2em;
  margin-bottom: 1em;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}

label {
  font-size: 1.2em;
  color: #333;
  margin-bottom: 0.2em;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}

form {
  display: flex;
  justify-content: center;
  /* align-items: center; */
  flex-direction: column;
}

.info-section {
  width: 70%;
  height: 100%;
  background-color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: start;
  padding: 4em 2em;
}

.info-section > * {
  width: 90%;
}

.checkbox-section {
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  display: flex;
  /* justify-content: space-between; */
  /* align-items: center; */
  gap: 0.2em;
  margin-block: 1em;
}

.checkbox-section p {
  margin-bottom: 0;
}

.term-section {
  width: 100%;
  margin-block: 1em;
  font-size: 1em;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}

.image {
  width: 40%;
}

img {
  width: 100%;
  height: 100%;
}
