:root {
  --primary-color: #333;
  --secondary-color: #969696;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin: 0 auto;
}

img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

button {
  padding: 0.7em 1.45em;
  border-radius: 40px;
  border: none;
  background-color: #8a8a8a;
  color: white;
  font-size: 1em;
  cursor: pointer;
  margin-top: 1em;
  margin-bottom: 0.3em;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-size: 1.2em;
  font-weight: bold;
}

button:hover {
  background-color: #6a6a6a;
}

button + p {
  font-size: 1.1em;
  margin-top: 0.5em;
}

h1 {
  font-size: 2.5em;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  margin-bottom: 0.2em;
}

.card-container {
  display: flex;
  width: 100%;
  height: 100%;
}

form label {
  color: #636363;
}

fieldset {
  border: none;
  display: flex;
  flex-direction: column;
  margin-bottom: 1.8em;
}

fieldset h1 {
  font-size: 2em;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}

input {
  font-size: 1.2em;
  margin-bottom: 1em;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  padding: 0.5em;
  border: 1px solid #ccc;
  border-radius: 13px;
  height: 2.5em;
}

input[type="checkbox"] {
  display: none;
}

input[type="checkbox"] + label {
  position: relative;
  padding-left: 35px;
  cursor: pointer;
  user-select: none;
  display: inline-block;
}

input[type="checkbox"] + label:before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 20px;
  height: 20px;
  border: 1px solid #ccc;
  border-radius: 3px;
  background-color: rgb(255, 255, 255);
}

input[type="checkbox"]:checked + label:before {
  background-color: var(--primary-color);
  border-color: var(--primary-color);
}

input[type="checkbox"]:checked + label:after {
  content: "";
  position: absolute;
  left: 8px;
  top: 2.8px;
  width: 3px;
  height: 11px;
  border: solid white;
  border-width: 0 3px 3px 0;
  transform: rotate(45deg);
}

a {
  color: var(--primary-color);
}

a:hover {
  color: #630606;
}

p {
  font-size: 1.2em;
  margin-bottom: 1em;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}

label {
  font-size: 1.2em;
  color: var(--primary-color);
  margin-bottom: 0.2em;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}

label[for="terms-checkbox"] {
  margin: 0;
}

form {
  display: flex;
  justify-content: center;
  flex-direction: column;
}

input[type="password"] {
  margin-bottom: 0.3em;
}

form ul {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  flex-wrap: wrap;
  flex-grow: 1;
  gap: 0.5em;
  padding-inline: 0px;
  color: var(--secondary-color);
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  font-size: 1.1em;
  margin-bottom: 1em;
}

form ul li {
  list-style: none;
  display: flex;
  align-items: center;
  gap: 0.5em;
}

form ul li::before {
  content: "";
  background-color: var(--secondary-color);
  color: var(--primary-color);
  width: 0.4em;
  aspect-ratio: 1;
  border-radius: 50%;
}

.info-section {
  width: 55%;
  height: 100%;
  background-color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: start;
  padding: 2em;
}

.info-section > * {
  width: 90%;
}

.checkbox-section {
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  display: flex;
  flex-wrap: wrap;
  gap: 0.2em;
  margin-block: 1em;
}

.checkbox-section p {
  margin-bottom: 0;
}

.term-section {
  width: 100%;
  margin-block: 2em;
  font-size: 1.2em;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}

.image {
  width: 45%;
}

@media (max-width: 768px) {
  .card-container {
    flex-direction: column;
    padding-block: 3em;
  }
  .info-section,
  .image {
    width: 100%;
    height: auto;
  }
  .image {
    height: 50%;
  }
}

img {
  width: 100%;
  height: 100%;
}

.hide-word-design {
  display: flex;
  justify-content: space-between;
}

.hide-word-design button {
  all: unset;
  font-size: 1em;
  padding-right: 1em;
  color: var(--secondary-color);
  cursor: pointer;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}

.hide-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 0.5em;
}

.hide-container img {
  width: 20px;
  height: 20px;
  cursor: pointer;
}
